<app-my-card-with-content>
  <img src="assets/images/card-photo.png" alt="my-photo">
  <span data-card="header">Multi passport</span>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid corporis, deserunt distinctio eveniet id, maxime natus porro quis repudiandae rerum sit suscipit tenetur vero? Eaque in magni provident repellat veritatis!
</app-my-card-with-content>


<div style="margin-top: 20px; width: 600px">
  <img src="assets/images/result-ng-content.png" alt="ng-content-result">
</div>
