<div class="tui-container tui-container_adaptive" *tuiLet="posts$ | async as posts">
    <tui-loader [showLoader]="loading$ | async"
                size="xxl"
                [overlay]="true"
    >
        <main class="posts__main">
            <app-post *ngFor="let post of posts; trackBy: trackPost"
                      [post]="post"
                      [image]="(post.id | tuiMapper: getImage$) | async"
                      (delete)="onDeletePost($event)"
            ></app-post>
        </main>
    </tui-loader>

</div>
