<app-form-array-add (addPhone)="onAdd($event)"></app-form-array-add>

<form class="tui-form" [formGroup]="formGroup">
    <ng-container formArrayName="phones">
        <div class="tui-form__row tui-row" *ngFor="let control of formArray.controls; index as i">
            <tui-input-phone
                    class="tui-col tui-space_right-1"
                    [formControl]="formArray.controls[i]"
            >
                Type a phone number
                <input
                        tuiTextfield
                        autocomplete="tel"
                />
            </tui-input-phone>

            <button tuiIconButton
                    icon="tuiIconTrashLarge"
                    appearance="outline"
                    class="tui-col"
                    (click)="onRemove(i)"
            ></button>
        </div>

    </ng-container>
</form>


<app-parse-control-value [control]="$any(formGroup)"></app-parse-control-value>
